In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
raw_data = pd.read_csv('Train_UWu5bXk.csv')
raw_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
df = raw_data.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

In [5]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
df.describe(include = 'all')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
count,8523,7060.000000,8523,8523.000000,8523,8523.000000,8523,8523.000000,6113,8523,8523,8523.000000
unique,1559,NaN,5,NaN,16,NaN,10,NaN,3,3,4,NaN
top,FDG33,NaN,Low Fat,NaN,Fruits and Vegetables,NaN,OUT027,NaN,Medium,Tier 3,Supermarket Type1,NaN
freq,10,NaN,5089,NaN,1232,NaN,935,NaN,2793,3350,5577,NaN
mean,NaN,12.857645,NaN,0.066132,NaN,140.992782,NaN,1997.831867,NaN,NaN,NaN,2181.288914
std,NaN,4.643456,NaN,0.051598,NaN,62.275067,NaN,8.371760,NaN,NaN,NaN,1706.499616
min,NaN,4.555000,NaN,0.000000,NaN,31.290000,NaN,1985.000000,NaN,NaN,NaN,33.290000
25%,NaN,8.773750,NaN,0.026989,NaN,93.826500,NaN,1987.000000,NaN,NaN,NaN,834.247400
50%,NaN,12.600000,NaN,0.053931,NaN,143.012800,NaN,1999.000000,NaN,NaN,NaN,1794.331000
75%,NaN,16.850000,NaN,0.094585,NaN,185.643700,NaN,2004.000000,NaN,NaN,NaN,3101.296400
max,NaN,21.350000,NaN,0.328391,NaN,266.888400,NaN,2009.000000,NaN,NaN,NaN,13086.964800

In [7]:
df.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [8]:
df['Item_Fat_Content'] = df.Item_Fat_Content.map({'Low Fat':'LF','Regular':'Reg','LF':'LF','reg':'Reg','low fat':'LF'})

In [9]:
df.Item_Fat_Content.value_counts()

LF     5517
Reg    3006
Name: Item_Fat_Content, dtype: int64

In [10]:
df['Item_Weight'] = df['Item_Weight'].fillna(df['Item_Weight'].mean())

In [11]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [12]:
df['Item_Visibility'] = df['Item_Visibility'].replace(0,df.Item_Visibility.mean())

In [13]:
df['Outlet_Years'] = 2013-df['Outlet_Establishment_Year']

In [14]:
df.drop('Outlet_Establishment_Year',axis = 1,inplace = True)

In [15]:
df.Outlet_Location_Type.value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [16]:
from scipy.stats import mode


outlet_size_mode = df.pivot_table(values='Outlet_Size', columns='Outlet_Type',aggfunc=(lambda x:mode(x).mode[0]) )
miss_bool = df['Outlet_Size'].isnull() 

df.loc[miss_bool,'Outlet_Size'] = df.loc[miss_bool,'Outlet_Type'].apply(lambda x: outlet_size_mode[x])

C:\Users\rohan\Anaconda3\envs\rohanenv\lib\site-packages\scipy\stats\stats.py:248: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier         8523 non-null object
Item_Weight             8523 non-null float64
Item_Fat_Content        8523 non-null object
Item_Visibility         8523 non-null float64
Item_Type               8523 non-null object
Item_MRP                8523 non-null float64
Outlet_Identifier       8523 non-null object
Outlet_Size             8523 non-null object
Outlet_Location_Type    8523 non-null object
Outlet_Type             8523 non-null object
Item_Outlet_Sales       8523 non-null float64
Outlet_Years            8523 non-null int64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

### Consider Combining Outlet Type

In [18]:
df.pivot_table(values='Item_Outlet_Sales',index='Outlet_Type')

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

### Modify Item_Visibility

In [19]:
visibility_avg = df.pivot_table(values='Item_Visibility', index='Item_Identifier')
miss_bool_visibility = (df['Item_Visibility'] == 0)

df.loc[miss_bool_visibility,'Item_Visibility'] = df.loc[miss_bool_visibility,'Item_Identifier'].apply(lambda x: visibility_avg[x])

### Create a broad category of Type of Item

In [20]:
df['Item_Types_Combined'] = df['Item_Identifier'].apply(lambda x: x[0:2])

In [22]:
df['Item_Types_Combined'] = df['Item_Types_Combined'].map({'FD':'Food',
                                                          'DR':'Drinks',
                                                          'NC':'Non-Consumable'})

In [23]:
df['Item_Types_Combined'].value_counts()

Food              6125
Non-Consumable    1599
Drinks             799
Name: Item_Types_Combined, dtype: int64

In [30]:
df.loc[df['Item_Types_Combined'] == "Non-Consumable",'Item_Fat_Content'] = "Non_Edible"
df.Item_Fat_Content.value_counts()

LF            3918
Reg           3006
Non_Edible    1599
Name: Item_Fat_Content, dtype: int64

In [35]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Years,Item_Types_Combined
0,FDA15,9.30,LF,0.0160473,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380,14,Food
1,DRC01,5.92,Reg,0.0192782,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228,4,Drinks
2,FDN15,17.50,LF,0.0167601,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700,14,Food
3,FDX07,19.20,Reg,0.066132,Fruits and Vegetables,182.0950,OUT010,Small,Tier 3,Grocery Store,732.3800,15,Food
4,NCD19,8.93,Non_Edible,0.066132,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052,26,Non-Consumable

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 13 columns):
Item_Identifier         8523 non-null object
Item_Weight             8523 non-null float64
Item_Fat_Content        8523 non-null object
Item_Visibility         8523 non-null object
Item_Type               8523 non-null object
Item_MRP                8523 non-null float64
Outlet_Identifier       8523 non-null object
Outlet_Size             8523 non-null object
Outlet_Location_Type    8523 non-null object
Outlet_Type             8523 non-null object
Item_Outlet_Sales       8523 non-null float64
Outlet_Years            8523 non-null int64
Item_Types_Combined     8523 non-null object
dtypes: float64(3), int64(1), object(9)
memory usage: 865.7+ KB

### Numerical and One-Hot Coding of Categorical variables

In [37]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

var_mod = ['Item_Types_Combined','Outlet_Type','Outlet_Location_Type','Outlet_Size','Outlet_Identifier','Item_Fat_Content']

for i in var_mod:
    df[i] = le.fit_transform(df[i])

In [38]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Years,Item_Types_Combined
0,FDA15,9.30,0,0.0160473,Dairy,249.8092,9,1,0,1,3735.1380,14,1
1,DRC01,5.92,2,0.0192782,Soft Drinks,48.2692,3,1,2,2,443.4228,4,0
2,FDN15,17.50,0,0.0167601,Meat,141.6180,9,1,0,1,2097.2700,14,1
3,FDX07,19.20,2,0.066132,Fruits and Vegetables,182.0950,0,2,2,0,732.3800,15,1
4,NCD19,8.93,1,0.066132,Household,53.8614,1,0,2,1,994.7052,26,2

In [50]:
data = pd.get_dummies(df, columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type',
                              'Item_Types_Combined','Outlet_Identifier'],drop_first = True)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 27 columns):
Item_Identifier           8523 non-null object
Item_Weight               8523 non-null float64
Item_Visibility           8523 non-null object
Item_Type                 8523 non-null object
Item_MRP                  8523 non-null float64
Item_Outlet_Sales         8523 non-null float64
Outlet_Years              8523 non-null int64
Item_Fat_Content_1        8523 non-null uint8
Item_Fat_Content_2        8523 non-null uint8
Outlet_Location_Type_1    8523 non-null uint8
Outlet_Location_Type_2    8523 non-null uint8
Outlet_Size_1             8523 non-null uint8
Outlet_Size_2             8523 non-null uint8
Outlet_Type_1             8523 non-null uint8
Outlet_Type_2             8523 non-null uint8
Outlet_Type_3             8523 non-null uint8
Item_Types_Combined_1     8523 non-null uint8
Item_Types_Combined_2     8523 non-null uint8
Outlet_Identifier_1       8523 non-null uint8
Outlet_Identifier_2       8523 non-null uint8
Outlet_Identifier_3       8523 non-null uint8
Outlet_Identifier_4       8523 non-null uint8
Outlet_Identifier_5       8523 non-null uint8
Outlet_Identifier_6       8523 non-null uint8
Outlet_Identifier_7       8523 non-null uint8
Outlet_Identifier_8       8523 non-null uint8
Outlet_Identifier_9       8523 non-null uint8
dtypes: float64(3), int64(1), object(3), uint8(20)
memory usage: 632.6+ KB

In [77]:
targets = data['Item_Outlet_Sales']
inputs = data.drop(['Item_Outlet_Sales','Item_Type','Item_Identifier','Item_Visibility'],axis = 1)

In [78]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 23 columns):
Item_Weight               8523 non-null float64
Item_MRP                  8523 non-null float64
Outlet_Years              8523 non-null int64
Item_Fat_Content_1        8523 non-null uint8
Item_Fat_Content_2        8523 non-null uint8
Outlet_Location_Type_1    8523 non-null uint8
Outlet_Location_Type_2    8523 non-null uint8
Outlet_Size_1             8523 non-null uint8
Outlet_Size_2             8523 non-null uint8
Outlet_Type_1             8523 non-null uint8
Outlet_Type_2             8523 non-null uint8
Outlet_Type_3             8523 non-null uint8
Item_Types_Combined_1     8523 non-null uint8
Item_Types_Combined_2     8523 non-null uint8
Outlet_Identifier_1       8523 non-null uint8
Outlet_Identifier_2       8523 non-null uint8
Outlet_Identifier_3       8523 non-null uint8
Outlet_Identifier_4       8523 non-null uint8
Outlet_Identifier_5       8523 non-null uint8
Outlet_Identifier_6       8523 non-null uint8
Outlet_Identifier_7       8523 non-null uint8
Outlet_Identifier_8       8523 non-null uint8
Outlet_Identifier_9       8523 non-null uint8
dtypes: float64(2), int64(1), uint8(20)
memory usage: 366.3 KB

In [82]:
from sklearn.linear_model import LinearRegression

X = inputs
y = targets

In [83]:
reg = LinearRegression()

reg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [84]:
r_sq = reg.score(X,y)
r_sq

0.5634405044892987

In [70]:
vif = 1/(1-r_sq)
vif

2.2908541427326545